.pagination-list {
    margin-bottom: unset;
}

.btn {
    margin-top: 10px;
    a {
        text-decoration: none;
        color: white;
    }
}

.title {
    text-align: center;
    padding-top: 50px;
    font-weight: normal;
    text-transform: uppercase;
}

.title-line {
    width: 75%;
    height: 2px;
    background-color: grey;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 5px;
}

.alert {
    width: 60%;
    text-align: center;
}

.card-body {
    .btn-success {
        width: 50%;
        display: flex;
        justify-content: center;
        margin: auto;
        margin-bottom: 25px;
    }
}